
<div class="box1">
  <h1>User List</h1>
  <button (click)="show()">{{buttonLetters}}</button>
</div>
<div *ngIf="button" class="container">
<div *ngFor="let course of courses" class="box">
  <h1>{{course.id}} {{course.username}}</h1>
<ul>
  <li>
      username: {{course.username}}
  </li>
  <li>
      id: {{course.id}}
  </li>
  <li>
      email: {{course.email}}
  </li>
   <li> address:
     <ul>
      <li>street: {{course.address.street}}</li>
      <li>suite: {{course.address.suite}}</li>
      <li>city: {{course.address.city}}</li>
      <li> geo:
        <ul>
          <li>lat: {{course.address.geo.lat}}</li>
          <li>lng: {{course.address.geo.lng}}</li>
        </ul>
      </li>
     </ul>
   </li>
   <li>
        phone: {{course.phone}}
   </li>
   <li>
       website: {{course.website}}
   </li>
   <li>
       company:
       <ul>
        <li>name: {{course.company.name}}</li>
        <li>catchPhrase: {{course.company.catchPhrase}}</li>
        <li>bs: {{course.company.bs}}</li>
       </ul>
   </li>
</ul>


</div>
</div>
