.box1 button {
  padding: 5px;


}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}

.box {
  border: solid;
  width: 500px;
  background: lightgray;
  margin-bottom: 40px;
  border-radius: 4px;
  padding: 20px 0;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14)
}

.box h1 {
  text-align: center;
}

.container {
  width: 500px;
}


