/* You can add global styles to this file, and also import other style files */
body {

  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
